<suite name="myTestSuite">
 <parameter name="browser" value="Chrome"></parameter>
	  <!--<listeners>
		
		<listener class-name="listeners.Listeners"></listener>
		<listener class-name="listeners.RetryListener"></listener>
	</listeners>-->
	   <test name="myTest">
		<classes>
		  <class name="testscripts.LoginTest">
			  
			</class>
            <class name="testscripts.SubCategoryTest">
		      <methods>
			       <include
						name="verifyUsercanSerachNonExistingSubCategory"></include>
						<include name="verifydeletesubcategorybutton"></include>
						<include name="verifyAddNewSubcategorywithValidDetails"></include>
						<include name="verifyStatusChange"></include>
              </methods>
			</class>
			       <class name="testscripts.CategoryTest">
			  <methods>
					
               <include name="verifyAddCategorywithValidData"></include>
					<include name="verifyUsercanSearchNonExistingCategory"></include>
					<include name="verifydeletecategory"></include>
					   <include name="verifyStatusButton"></include>
				</methods>
			</class>
			  <class name="testscripts.ManageContactTest">
			  <methods>
					<include name="verifyeditManageContact"></include>
					
				</methods>
			</class>
		</classes>
	</test>
</suite>